<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter= "browser" value= "chrome"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.orange.testcases.Test_case_01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
